/* Global Styles */

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url('../img/floor-light-grey-big.jpg');
    background-size:  cover;
    color: black;
}

.audiowide {
    font-family: 'Audiowide', cursive;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.marcellus {
    font-family: 'Marcellus SC', serif;
}

/* Home Page Carousel */

div.left-side {
    display: inline-block;
    width: 50vw;
    height: 63vh;
    margin: 10vh 0 0 2vw;
}

div.right-side {
    display: inline-block;
    width: 50vw;
    height: 63vh;
    margin: 10vh 2vw 0 0;
}

.navbar, .footer {
    height: 10vh;
}

#myCarousel {
    padding: 0;
}

div.carousel .item,
div.carousel .item.active,
div.carousel .carousel-inner {
    height: 100%;
}

div.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.center {
    text-align: center;
}

.home-content {
    width: 45vw;
    height: 80vh;
    margin-top: 4vh;
    position: relative;
    overflow: hidden;
    right: 200%;
}

.black-box {
    border: 1px solid lightgray;
    background-color: rgba(0, 0, 0,0.7);
    margin-top: 2vh;
    padding: 5px;
    color: #FFFF3C;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.flooring-panel {
    height: 75vh;
    overflow-y: scroll;
    margin-top: 6vh;
}

.garage-flooring {
    margin: 0;
}

.flooring-sub {
    height: 200%;
    text-align: center;
}


.lightblue:hover {
    color: lightgreen;
}

.lightblue {
    color: lightblue;
}

/* Footer Styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    padding-left: 0;
}

.logo {
    width: 60%;
    height: auto;
    z-index: 500;
    position: relative;
}

.slogan {
    position: absolute;
    color: white;
    top: 12px;
    left: 315px;
    width: 25vw;
}

.slogan>h1 {
    margin: 0;
}

.slogan>h1:first-child {
    position: absolute;
    width: 100%;
    height: 8vh;
    color: #FF0000;
    background-color: #222;
    z-index: 500;
    font-family: 'Shadows Into Light', cursive;
}

.slogan>h1:last-child {
    color: #FFFF3C;
    position: absolute;
    left: 75px;
    z-index: 100;
    font-family: 'Sigmar One', cursive;
}

.home-text {
    font-size: 1.3em;
}

.home-text span {
    float: right;
    clear: both;
}

.video-text {
    clear: both;
}

.special {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: auto;
}

.service-text {
    margin-top: 10%;
}

.home-panel {
    margin-bottom: 13px;
}

.contact-panel {
    height: 75vh;
    margin-top: 5vh;
}

.contact-div {
    height: 65vh;
}

.overhead-panel {
    margin: 9vh 0 0 2vw;
    left: -200%;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.panel {
    opacity: 0.8;
}

.modal-content {
    width: 85%;
}

#modal-video {
    width: 100%;
}

.video {
    width: 100%;
}

.footer>span {
    display: inline;
    padding: 0 10px 0 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: space-around;
    padding-top: 2vh;
}

address {
    float: right;
}

.list-social-icons>li>a {
    color: #FF0000;
}

/* accessories page styles */

.carousel-caption {
    color: #FFFF3C;
    text-shadow: -1.5px 0 black, 0 1px black, 1px 0 black, 0 -1.5px black;
}

.accessories-div {
    border: none;
    height: 75vh;
    overflow-y: scroll;
    margin: 6vh 0 0 5vh;
}

.delivery {
    background-color: black;
    color: white;
    font-size: 1.9rem;
}

.delivery b {
    color: red;
}

.table tbody tr td {
    width: 50%;
    font-size: 1.8rem;
}

.navbar-brand {
    padding: 3px;
}

.mobile-deal {
    width: 100%;
    color: white;
    background-color: red;
    padding: 5px;
    text-align: center;
    margin: 0;
}

/* Responsive Styles */

@media(min-height:915px) and (min-width:1800px) {
    .home-body {
        overflow: hidden;
    }
}

@media(max-width: 1700px) {

    .special {
        width: 25%;
    }
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }

    .contact-panel {
        margin-top: 8%;
    }

    .home-text span {
        float: none;
        clear: none;
    }

    div.carousel {
        margin-top: 4%;
    }


    .special {
        top: 15px;
        width: 18%;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    div.carousel .carousel {
        height: 70%;
    }

    .contact-panel {
        margin-top: 2%;
    }


    header.carousel {
        margin-top: 0;
    }

    .special {
        width: 23%;
    }

}

@media(max-width:400px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 50%;
    }

    .navbar-brand {
        width: 35%;
        padding-top: 10px;
    }

    .logo {
        width: 100%;
    }

    .page-header {
        font-size: 2em;
    }

    .special {
        display: none;
    }

}


/* animations */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated2 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated3 {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated10 {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


.animated.infinite, .animated10.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}


.return-right {
    -webkit-animation-name: return-right;
    animation-name: return-right;
}

@keyframes return-right {
    from {
        right: -200%;
    }
    to {
        right: 0;
    }
}

.return-left {
    -webkit-animation-name: return-left;
    animation-name: return-left;
}

@keyframes return-left {
    from {
        left: -200%;
    }
    to {
        left: 0;
    }
}

.fade-full {
    -webkit-animation-name: fade-full;
    animation-name: fade-full;
}

@keyframes fade-full {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

.logo-fade {
    -webkit-animation-name: logo-fade;
    animation-name: logo-fade;
}

@keyframes logo-fade {
    0% {opacity: 1;}
    25% {opacity: 0.5;}
    50% {opacity: 0;}
    75% {opacity: 0.5;}
    100% {opacity: 1;}
} 